<% include partials/header %>

<section>
  <img src="<%- helpers.asset_path('/img/logo.jpg') %>" alt="Logo"/>
  <h1>TODO: Name</h1>
</section>

<section class="container">
  <form method="POST" action="<%-helpers.path('/login')%>">
    <% link.require('fields').forEach(field => { %>
      <div class="form-group">
        <label for="<%=field.name%>Input"><%=field.label%></label>
        <%- field.renderHTML({klass: 'form-control', id: field.name + 'Input',placeholder: field.label }) %>
      </div>
    <% }) %>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</section>

<section>
  <p>
    <a href="http://www.pg.com/en_US/terms_conditions/index.shtml#use" target="_blank">Terms of Use</a>
    <a href="http://m.pgprivacy.com" target="_blank">Privacy Policy</a>
  </p>
</div>

<% include partials/footer %>
