<% page = 'error' %>
<% include partials/header %>

<section class="screen">
  <div class="container">
    <div class="screen-head">
      <%- helpers.img('logo',{alt: 'Logo', klass: 'logo'}) %>
      <h1><%= content.error.headline %></h1>
      <p><%= content.error.description %></p>
    </div>

    <div class="link-container">
      <a href="<%- helpers.path('/')%>" class="opt-out">Back to Home</a>
    </div>
  </div>
</section>
<div class="legal-container">
  <p><a href="<%-helpers.path('/terms-of-use')%>">Terms of Use</a><a href="<%-helpers.path('/privacy-policy')%>">Privacy Policy</a></p>
</div>

<% include partials/footer %>
