<% page = 'homepage' %>
<% include partials/header %>

<section class="screen">
  <div class="container">
    <div class="screen-head">
      <%- helpers.img('logo',{alt: 'Logo', klass: 'logo'}) %>
      <h1><%= content.home.headline %></h1>
      <p><%= content.home.description %></p>
    </div>

    <form class="email-form" method="POST" action="<%-helpers.path('/login')%>">
      <div class="form-group">
        <% link.require('fields').forEach(field => { %>
          <div class="form-row">
            <%- field.renderHTML({ id: field.name + 'Input',placeholder: field.label }) %>
          </div>
        <% }) %>
        <div class="form-row">
          <button type="submit" class="btn primary" disabled><%= content.home.action %></button>
        </div>
      </div>
    </form>
    <div class="link-container">
      <a href="<%- helpers.path('/success?source=user-canceled')%>" class="opt-out"><%= content.home.noaction %></a>
    </div>
  </div>
</section>
<div class="legal-container">
  <p><a href="<%-helpers.path('/terms-of-use')%>">Terms of Use</a><a href="<%-helpers.path('/privacy-policy')%>">Privacy Policy</a></p>
</div>

<% include partials/footer %>
