<% page = 'skill-enabled' %>
<% include partials/header %>

<section class="screen">
  <div class="container">
    <div class="screen-head">
      <h1><%= content.success.headline %></h1>
    </div>
    <div class="utterance-container">
      <%- content.paragraph('success.examplePhrases') %>
    </div>
  </div>
</section>

<% if(typeof redirectUrl !== 'undefined') { %>
  <iframe src="<%= redirectUrl %>"></iframe>
<% } %>

<div class="legal-container">
  <p><a href="<%-helpers.path('/terms-of-use')%>">Terms of Use</a><a href="<%-helpers.path('/privacy-policy')%>">Privacy Policy</a></p>
</div>

<% include partials/footer %>
